@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Catamaran", serif;
  background: url('../images/background.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.blur{
  height: 70%;
  width: 70%;
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 0;
  filter: drop-shadow(10px 0px black);
}

.container {
  height: 70%;
  z-index: 1;
  width: 70%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(93, 211, 255, 0.20); 
  border-radius: 10px;
  padding: 20px;
}

.titulo{
  align-self: flex-start;
}

.linha{
  width: 100%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.432);
}

.box{
  border: 2px solid white;
  border-radius: 30px;
  margin-top: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 768px;
  max-width: 100%;
  overflow: hidden;
  min-height: 480px;
  position: relative;
}

.box p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
  text-align: center;
}

.box label{
  display: flex;
  font-size: 15px;
  align-items: center;
  width: 130px;
  justify-content: center;
}

.checkbox{
  width: 20% !important;
}

.box a{
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  margin: 15px 0 10px;
}

.box button{
  background-color: #8697aa4d;
  color: #fff;
  font-size: 12px;
  height: 45px;
  width: 160px;
  border: 2px solid white;
  border-radius: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.box button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.box form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  gap: 10px;
}

.box input{
  background-color: #eee;
  border: none;
  margin: 2px 0;
  padding: 10px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login-container{
  left: 0;
  width: 50%;
  z-index: 2;
}

.box.active .login-container{
  transform: translateX(-100%);
}

.cadastro-container{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.box.active .cadastro-container{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.box.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  background-color: rgba(255, 255, 255, 0.432);
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.432), rgba(185, 185, 185, 0.459));
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.box.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%);
}

.box.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.box.active .toggle-right{
  transform: translateX(200%);
}

.icon-placeholder{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 10px;
}

h2 {
  text-align: center;
  padding: 10px;
}


/* .form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input-group {
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 250px;
  padding: 10px;
  color: black;
}

button {
  padding: 10px;
  background-color: #8697aa4d;
  border: 2px solid white;
  height: 45px;
  width: 160px;
  border-radius: 18px;
}

button:hover {
  background-color: #8697aae0;
} */

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
